@using Microsoft.Azure.ActiveDirectory.GraphClient
@model IEnumerable<DirectoryRole>

<h2>/Roles</h2>
<table id="directoryObjects" class="table table-bordered table-striped">
    <tr>
        <th>
            DisplayName
        </th>
        <th>
            Description
        </th>
        <th>
            ObjectId
        </th>
        <th />
    </tr>
    @foreach (var item in Model)
    {
        var role = item as DirectoryRole;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => role.DisplayName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => role.ObjectId)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { objectId = item.ObjectId }) <br />
            </td>
        </tr>
    }
</table>

@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see roles. Click @Html.ActionLink("here", "Index", "Roles", new { reauth = true }, null) to sign-in.</p>
}

